* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.generate-btn {
    background-color: #900000;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }

header {
    background-color: #900000 
    color white;
    text-align: center;
    padding: 1rem 0;
}

header img {
    max-width: 100px;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #fff;
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

nav button {
    background-color: #900000; 
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
}

nav button:hover {
    background-color: #900000; 
}

.filters {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  
  .filters select,
  .filters input[type="text"] {
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #ccc;
    flex: none;
    min-width: 150px;
  }

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #900000;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

.present { color: green; }
.absent { color: red; }
.late { color: orange; }

.summary {
  float: right;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  margin-top: 10px;
  width: 180px;
}

input[type="checkbox"] {
    margin: 0 10px;
}

.status-active {
    color: green;
}

.status-inactive {
    color: red;
}

.absent-btn {
  color: red;
}

.present-btn {
  color: green;
}

.clear-btn {
  color: gray;
}

.buttons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }
  
  .buttons button {
    padding: 8px 14px;
    border: 1px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
    background-color: #f9f9f9;
    transition: background-color 0.2s;
  }
  
  .buttons button:hover {
    background-color: #eaeaea;
  }

  .action-buttons {
    display: flex;
    margin-top: 20px;
    gap: 10px;
}

footer {
    text-align: center;
    padding: 20px 0;
}
